aiofiles
bashlex
click >= 8.1.3
dockerfile-parse >= 0.0.13
defusedxml
future
koji
PyGitHub >= 1.46
pyyaml >= 5.1
requests
requests_kerberos
semver
tenacity
wrapt
mysql-connector-python >= 8.0.21
pydantic ~= 1.10.7
python-dateutil >= 2.8.1
openshift-client >= 1.0.12
setuptools-scm
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
aiohttp
jira==3.4.1
ghapi
