bashlex
boto3
click >= 6.7
dockerfile-parse >= 0.0.13
future
koji
mock
PyGitHub >= 1.46
pyyaml >= 5.1
requests
requests_kerberos
retry
rpm-py-installer
semver
tenacity
wrapt
mysql-connector-python~=8.0.21
python-dateutil~=2.8.1
