aiofiles
bashlex
click >= 6.7
contextvars ; python_version<"3.7"
dockerfile-parse >= 0.0.13
future
kobo ~= 0.19.0
koji
PyGitHub >= 1.46
pyyaml >= 5.1
requests
requests_kerberos
rpm-py-installer
semver
tenacity
wrapt
mysql-connector-python~=8.0.21
python-dateutil~=2.8.1
